:root {
    /* COLOR */
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ed4d2d;
    --border-color: #dbdbdb;

    /* VOLUMN */
    --height-header: 120px;
    --height-nav: 50px;
    --height-shopping: calc(var(--height-header) - var(--height-nav));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /*62.5% = 10px*/
    line-height: 1.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

.gird {
    width: 1200px;
    max-width: 100%;
    /* width, max-width, là: khi màn hình lớn hơn 1200px thì sẽ có 
    chiều rộng tối đa 1200px, còn màn nhỏ hơn 1200px sẽ có chiều rộng 100% */
    margin: 0 auto;
}
.gird__full_width {
    width: 100%;
}
.gird__row {
    display: flex;
    flex-wrap: wrap; /*phần tử nằm trong lớn hơn sẽ nhảy xuống dòng*/
    margin-left: -12px;
    margin-right: -12px;

}
.gird__column--2 {
    width: 16.6667%;
    padding-left: 12px;
    padding-right: -12px;
    height: max-content;
}
.gird__column--2-4 {
    width: 20%;
    padding-left: 12px;
    padding-right: -12px;
}
.gird__column--10 {
    width: 83.3333%;
    padding-left: 12px;
    padding-right: -12px;
}

/* BUTTON STYLE */
.btn {
    min-width: 130px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.6rem;    
    padding: 0;
    cursor: pointer;
    background-color: #fff;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}
/* ANIMATION */
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    } /*transform để biến đổi từ nhỏ đến lớn*/
    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}